body {
  font-family: 'Lato', sans-serif;
}

img {
  height: auto;
  width: 250px;
}

button {
  height: 23px;
  width: 115px;
  border-style: none;
  border-radius: 5px;
  background-color: indigo;
  color: white;
}

p {
  margin: 0;
}

a {
  width: max-content;
  color: indigo;
  text-decoration: none;
  font-weight: 700;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
}

.nav {
  display: grid;
  gap: 0px 50px;
  grid-template-columns: repeat(4, 1fr);
}

.nav-container{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.image{
  grid-area: image;
}

.like-button{
  grid-area: button-one;
}

.tour{
  grid-area: button-two;
}

.description {
  margin-top: 5px;
  grid-area: description;
}

.address{
  grid-area: address;
}

.home-card-1, .home-card-2, .home-card-3, .home-card-4 {
  grid-template-areas:
    "image image"
    "button-one button-two"
    "description description"
    "address address";
  display: grid;
  gap: 5px 10px;
  grid-area: card-one;
  grid-template-columns: repeat(2, 125px);
  grid-template-rows: auto;
}

.home-card-2 {
  grid-area: card-two;
}

.home-card-3 {
  grid-area: card-three;
}

.home-card-4{
  grid-area: card-four;
}

.card-container {
  display: grid;
  grid-template: auto / repeat(2, auto);
  grid-template-areas:
    "card-one card-two"
    "card-three card-four";
  gap: 40px 40px;
}

.grid-image {
  width: 100%;
  transition: transform 2.5s;
}

.grid-image:hover {
  transform: rotateY(360deg);
}